/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$gray:   		 #f8f8f8;
$gray-light: #9c9c9c;
$slate:  		 #353535;
$yellow: 		 #dcae4b;

body { 
	font-size: 12px; 
	background-color: $gray;
}

.title-translate-appear {
	opacity: 0;
	left: 130px;
	z-index: 1;
}

.title-translate-appear.title-translate-appear-active { 
	opacity: 1;
	left: 0px;
	transition: 1000ms linear;
}

.title-translate-appear-done {
	left: 0px;
}

.underline-translate-appear {
	opacity: 0;
	left: -200px;
	z-index: 1;
}

.underline-translate-appear.underline-translate-appear-active { 
	opacity: 1;
	left: 70px;
	transition: 1000ms linear;
}

.underline-translate-appear-done {
	left: 70px;
}

.highlight-translate-appear {
	height: 0px;
	z-index: 1;
}

.highlight-translate-appear.highlight-translate-appear-active {
	height: 50px;
	transition: 1000ms linear 1000ms;
}

.highlight-translate-appear-done {
	height: 50px;
}

.subtitle-translate-appear {
	overflow: hidden !important;
	width: 0px;
	z-index: 1;
	overflow: hidden;
}

.subtitle-translate-appear.subtitle-translate-appear-active {
	overflow: hidden;
	width: 400px;
	transition: 500ms linear 1000ms;
}

.subtitle-translate-appear-done {
	overflow: hidden;
	width: 400px;
}

.header {
	width: 100%;
	padding: 3em 6em;
	position: fixed;
	top: 0;
}

.footer {
	width: 100%;
}

.footer-content {
	max-width: 980px;
	margin: 1.5em auto;
}

.header-brand {
 	font-size: 2.5em;
 	font-family: 'Poppins', sans-serif;
 	text-decoration: none;
 	color: $slate;
 	transition: 0.4s;
 	&:hover { 
 		text-decoration: none;
	  color: $yellow;
	}
}

.page {
	max-width: 980px;
	margin: 15em auto;
}

.introduction-title {
	height: 300px;
	position: relative;
}

.introduction-title-container {
	position: absolute;
	bottom: 0px;
}

.introduction-text {
	font-family: 'Poppins', sans-serif;
	font-size: 11.5em;
	line-height: 1;
	color: #353535;
	display: block;
}

.underline {
	background-color: #DCAE4B;
	height: 40px;
	width: 400px;
	position: absolute;
	bottom: 15px;
	z-index: -1;
	transition: left 1000ms ease-in;
}

img { 
	max-height: 400px;
	max-width: 100%;
}

.something {
	margin: 3em 0 5em;
	width: 100%;
}

.highlight {
	background-color: $yellow;
	width: 10px;
	display: inline-block;
	margin-right: 15px;
}

.minor-text {
	width: 400px;
	display: inline-block;
}

.primary-span,
.secondary-span {
	font-size: 1.5em;
	color: $slate;
}

.primary-span { 
	font-family: 'Playfair Display', serif;
}

.secondary-span {
	font-family: 'Roboto', sans-serif;
}

.introduction-description {
	font-size: 2em;
	&:before {
		content: '';
	  background-color: $yellow;
	  height: 20px;
	  width: 7px;
	  margin-right: 10px;
	  margin-left: 10px;
	  display: inline-block;
	}
}

.navigation-items {
	list-style: none;
	padding: 0;
	width: 100%;
	li {
		display: inline-block;
	}
}

.navigation-item-id {
	font-size: 8.5em;
	font-family: 'Roboto', sans-serif;
	color: $slate;
	line-height: 1.2;
	display: block;
	transition: 0.4s;
	position: relative;
	&:hover {
		color: $yellow;
	}
}

.navigation-item-title {
	font-size: 1.1em;
	font-family: 'Playfair Display', serif;
	letter-spacing: 0.3em;
	color: $yellow;
}

.navigation-translate-appear {
	opacity: 0;
	left: -100px;
	z-index: 1;
}

.navigation-translate-appear.navigation-translate-appear-active { 
	opacity: 1;
	left: 0px;
	transition: 1000ms linear;
}

.navigation-translate-appear-done {
	left: 0px;
}

.float-right {
	margin-right: 0;
}

.header-link {
	font-size: 1.3em;
	color: $gray-light;
	margin-left: 3em;
	&:hover { 
		color: $gray-light;
	}
}

.footer-content {
	font-size: 1.2em;
	color: #818181;
	width: 100%;
}

.email {
	margin-left: 1em;
	margin-right: 0;
}