/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$gray:   #f8f8f8;
$slate:  #353535;
$yellow: #dcae4b;

body { 
	font-size: 12px; 
	background-color: $gray;
	height: 100000px;
}

.fade-appear {
	opacity: 0;
	z-index: 1;
}

.fade-appear.fade-appear-active {
	opacity: 1;
	transition: opacity 1000ms linear;
}

.header {
	padding: 3em 6em;
	position: fixed;
	top: 0;
}

.header-brand {
 	font-size: 2.5em;
 	font-family: 'Poppins', sans-serif;
 	text-decoration: none;
 	color: $slate;
 	transition: 0.4s;
 	&:hover { 
 		text-decoration: none;
	  color: $yellow;
	}
}

.page {
	max-width: 980px;
	margin: 15em auto;
}

.introduction-title {
	position: relative;
}

.introduction-text {
	font-family: 'Poppins', sans-serif;
	font-size: 11.5em;
	line-height: 1;
	color: #353535;
	display: block
}

.underline {
	background-color: #DCAE4B;
	height: 40px;
	width: 400px;
	position: absolute;
	left: 70px;
	bottom: 15px;
	z-index: -1;
}

img { 
	max-height: 400px;
}

.primary-span,
.secondary-span {
	font-size: 1.8em;
	color: $slate;
}

.primary-span { 
	font-family: 'Roboto', sans-serif;
	font-weight: 800 !important;
}

.secondary-span {
	font-family: 'Crimson Text', serif;
	font-weight: 800 !important;
}

.introduction-description {
	font-size: 2em;
	&:before {
		content: '';
	  background-color: $yellow;
	  height: 20px;
	  width: 7px;
	  margin-right: 10px;
	  margin-left: 10px;
	  display: inline-block;
	}
}

.navigation-items {
	list-style: none;
	li {
		display: inline-block;
	}
}

.navigation-item-id {
	font-size: 8.5em;
	font-family: 'Roboto', sans-serif;
	color: $slate;
}

.navigation-item-title {
	font-size: 1.5em;
	font-family: 'Crimson Text', serif;
	color: $yellow;
}